html.dark,
html[data-theme="dark"] {
  color-scheme: dark;

  --rp-background-primary: #18181b;
  --rp-background-secondary: #242431;

  --rp-prose-primary: #f6f6f6;
  --rp-prose-secondary: #6d6d6d;
}
